/*selector univ*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(214, 229, 192);
}

/*Titulo Principal*/
header {
    display: flex;
    font-size: 1rem;
    font-style: italic;
    color: rgb(43, 30, 216);
    text-shadow: 2px 2px 4px rgba(58, 225, 12, 0.89);
    justify-content: space-between;
    /* background-image: url(../assets/images/design1_image1.png); */

}

/*header mod titulo tamaño*/
header h1 {
    display: flex;
    margin: 8px;
    /* background-image: url(../assets/images/design1_image1.png); */
}

/*Botones para ir a las paginas*/
header nav {
    /* float: right;
    margin-left: auto;
    position: relative;
    top: 0.7rem; */
    display: flex;
    flex-wrap: wrap;
    /* background-image: url(../assets/images/design1_image1.png); */
}

/*Colores a los botones del nav*/
body header nav a {

    background-color: rgb(43, 30, 216);
    color: white;
    padding: 10px 15px;
    border: 2px solid black;
    margin: 2px;
    border-radius: 5px;
    text-decoration: none;
    /* position: relative;
    bottom: 11.3rem;
    left: 75%; */
}

/*Boton de pagina actual de otro color*/
.SoloTexto {
    background-color: rgb(58, 225, 12, 0.89);
    color: white;
    padding: 10px 15px;
    border: 2px solid black;
    margin: 0.1px;
    border-radius: 5px;
}

/*------------------------------------------------------------*/
.banner {
    width: 100%;
    height: 30vh;
}

/* .text-inicio{
flex-grow:;
} */

.banner img {
    width: 100%;
    height: 100%;
}

main article {
    width: 90%;
}

/*Titulo centrado del main section*/
h2 {
    text-align: center;
    position: relative;
    bottom: 0.4rem;
    border: 2px solid black;
    padding: 10px;
    width: 100vw;
}

/*Imagenes que van dentro del main debajo del texto*/
.cajitas {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Logo que va en el section */
/* .imagen-loca{
   width: 100%;
} */

/*dl del about achicar un poco*/
/* main section .dl-about{
    
} */
main {
    width: 100vw;
}

main .img_section {
    max-height: 250vh;
    width: 30vw;
    border-radius: 10px;
    /* object-fit: cover o contain;  Asegura que la imagen se ajuste dentro del contenedor */
}

.contenedor_de_texto {

    /* display: block; */
    padding-left: 4rem;
    width: 100%;

}

.dl_titulo {
    text-align: center;
}

.pseudo_titulos {
    font-weight: bold;
}

.ol_regulations {
    list-style-type: upper-alpha;
}


.ol_fields {
    list-style-type: upper-alpha;
}

.all_play li {
    list-style-type: disc;

}

/* Elimina el margen inferior de los elementos h3 */
/* .forma_text_info {
    margin-bottom: 0; 
} */

/* Elimina el margen superior del primer párrafo después de cada h3 */
/* .forma_text_info p {
    margin-top: 0; 
} */

legend{
    text-align: center;
    
    position: relative;
    bottom: 0.4rem;
    border: 2px solid black;
    padding: 10px;
    width: 20vw;
}