/*selector univ*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(214, 229, 192);
}

/*Titulo Principal*/
header {
    display: flex;
    font-size: 1rem;
    font-style: italic;
    color: rgb(43, 30, 216);
    text-shadow: 2px 2px 4px rgba(58, 225, 12, 0.89);
    justify-content: space-between;
}

/*header mod titulo tamaño*/
header h1 {
    display: flex;
    margin: 8px;
}

/*Botones para ir a las paginas*/
header nav {
    display: flex;
    flex-wrap: wrap;
   
}

/*Colores a los botones del nav*/
body header nav a {
    background-color: rgb(43, 30, 216);
    color: white;
    padding: 10px 15px;
    border: 2px solid black;
    margin: 2px;
    border-radius: 5px;
    text-decoration: none;
}

/*Boton de pagina actual de otro color*/
.SoloTexto {
    background-color: rgb(58, 225, 12, 0.89);
    color: white;
    padding: 10px 15px;
    border: 2px solid black;
    margin: 0.1px;
    border-radius: 5px;
}

/*------------------------------------------------------------*/
.banner {
    width: 100%;
    height: 30vh;
}

.banner img {
    width: 100%;
    height: 100%;
}

main article {
    width: 90%;
}

/*Titulo centrado del main section*/
h2 {
    text-align: center;
    position: relative;
    bottom: 0.4rem;
    border: 2px solid black;
    padding: 10px;
    width: 100vw;
}

/*Imagenes que van dentro del main debajo del texto*/
.cajitas {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


main {
    width: 100vw;
}

main .img_section {
    max-height: 250vh;
    width: 25vw;
    border-radius: 10px;
    /* object-fit: cover o contain;  Asegura que la imagen se ajuste dentro del contenedor */
}



.contenedor_de_texto {

    /* display: block; */
    padding-left: 4rem;
    width: 100%;

}

.dl_titulo {
    text-align: center;
}

.pseudo_titulos {
    font-weight: bold;
}

.ol_regulations {
    list-style-type: upper-alpha;
}


.ol_fields {
    list-style-type: upper-alpha;
}

.all_play li {
    list-style-type: disc;

}


.legend{
    text-align: center;
    
    position: relative;
    bottom: 0.4rem;
    border: 2px solid black;
    padding: 10px;
    width: 20vw;
}

/***************************************************************************************************************************************/
/* Estilo maps */
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.maps{
    display: flex;
    width: 40rem;
    
    height: 20rem;
    background-color: #f3aa607e;
    border-radius: 2rem 2rem;
    align-items: center;
    gap: 1rem;
}

.maps h2{
    width: 20%;
    text-shadow: 2px 2px 2px black;
}
.maps img{
    width: 20%;
    height: 100%;
    border-radius: 2rem 0 0 2rem;
}

.maps iframe{
    width: 60%;
    height: 18rem;
    border-radius: 1rem;
}

/***************************************************************************************************************************************/
/* Estilo para el formulario */
form {
    display: grid;
    gap: 10px;
    margin-top: 20px;
    width: 70%;
    margin: 0 auto;
}

/* Estilo para las etiquetas 'label' */
label {
    font-weight: bold;
}

/* Estilo para el campo de selección */
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estilo para el botón de envío */
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/*------------------------------------------------------------------*/
.showdata{

    
        display: flex;
        justify-content: center;
        align-items: center;
    

}
/*------------------------------------------------------------------*/

/*rulesets para el footer*/
footer{
    
    min-height: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(107, 19, 19);
    font-weight: bold;
}
/*----------------------------------------------------------------------------*/